<center><h1><u>Linear Regression</u></h1></center>

In this module, we will do the following:

1. Generating Data
2. Training a Linear Regression Model using scikit-learn
3. Check the optimized weights
4. Predict New Values

<hr></hr>

<center><h2><u>Generating Toy Dataset</u></h2></center>
<hr></hr>

### Importing the Necessary Modules

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd

### Generating the Data

In [ ]:
X = np.arange(0, 1000, 1, dtype = 'float32')
Y = (X*9/5)+32

<hr> </hr>

**Following lines are optional, and they are used here just to explain the data clearly.**

<hr></hr>

In [ ]:
data = { "Temp in Celcius": X,
        "Temp in Fahrenheit": Y}
df = pd.DataFrame(data)
df.head(10)

   Temp in Celcius  Temp in Fahrenheit
0              0.0           32.000000
1              1.0           33.799999
2              2.0           35.599998
3              3.0           37.400002
4              4.0           39.200001
5              5.0           41.000000
6              6.0           42.799999
7              7.0           44.599998
8              8.0           46.400002
9              9.0           48.200001

<hr></hr>
<center><h2><u>Training Linear Regression Model</u></h2></center>
<hr></hr>

In [ ]:
# Instantiating the Linear Regression Model
reg = LinearRegression()

# Training the Model using the dataset
reg = reg.fit(X[:,np.newaxis],Y)
print('Training is complete')

Training is complete

<hr></hr>
<center><h2><u>Checking the Optimized Weights</u></h2></center>
<hr></hr>

In [ ]:
w = reg.coef_
b = reg.intercept_

print('The optimized weight value is {}'.format(w[0]))
print('The optimized bias value is {}'.format(np.round(b)))

The optimized weight value is 1.8000000715255737
The optimized bias value is 32.0

<hr></hr>

We can see that the formula to convert temperature from centigrade to fahrenheit is

$$F = 1.8\times C^° + 32 $$

We can see that in the above formula, weight is $18$, and the bias is $32$, which is exactly what our model predicted.

<hr></hr>

<hr></hr>
<center><h2><u>Predicting Future Values</u></h2></center>


Let's predict using our training 'reg' model to see what our model predicts for following temperatures in centigrade.

**C1 = 34.5**

**C2 = -98**

**C3 = 390.89**

<hr></hr>

In [ ]:
C1 = np.array([[31.5]])
C2 = np.array([[-98]])
C3 = np.array([[390.89]])

F1 = reg.predict(C1)
F2 = reg.predict(C2)
F3 = reg.predict(C3)

print('The equivalent of {} temperature in centigrade to fahrenheit is {}.'.format(C1[0][0], F1[0]))
print('The equivalent of {} temperature in centigrade to fahrenheit is {}.'.format(C2[0][0], F2[0]))
print('The equivalent of {} temperature in centigrade to fahrenheit is {}.'.format(C3[0][0], F3[0]))

The equivalent of 31.5 temperature in centigrade to fahrenheit is 88.69994121789932.
The equivalent of -98 temperature in centigrade to fahrenheit is -144.40006804466248.
The equivalent of 390.89 temperature in centigrade to fahrenheit is 735.6019669234753.